[run]
branch = True
source = slack-message-pipe

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    setup.py
    slack-message-pipe/tests.py
    slack-message-pipe/tests/*
    slack-message-pipe/migrations/*
    slack-message-pipe/fpdf_mod/*
    doc/*
