*.log
*.tmp
*.bak
*.old
__pycache__/
.vscode/
*.pdf
/*.json
slack-message-pipe/build/
slack-message-pipe/dist/
playground/
dist/
build/
devonly/
venv/
.tox/
.coverage
MANIFEST
*.egg-info/
*.pyc
htmlcov/
*/temp/
temp/
